.navbar-custom {
	background-color: #E0E0E0;
}

.custom-brand {
	font-size: 2em;
	padding-left: 0.2em;
}

.custom-link, .custom-brand {
	color: #041E42!important;
	font-weight: bold;
}

.custom-link {
	font-size: 1.2em;
	border: 1px solid transparent;
	border-radius: 5px;
	transition: border 0.4s;
	margin-left: 10px;

}

.custom-link:hover {
	border: 1px solid #041E42;
	border-radius: 5px;
}